__init__.py
main
STDOUT
LSFJOB
*~
*.back
*.bak
*.pdf
*.png
*.log
*.root
crab_projects*
multicrab_dispho_*
multicrab_hltdump_*
multicrab_hltplots_*
*.o
*.so
*.d
*.out
*.json
*.txt
*.pyc
.*.swp
.#*
#*#
*.pcm
*.php