imax 9 number of bins
jmax 1 number of processes minus 1
kmax 1 number of nuisance parameters
----------------------------------------------------------------------------------------------------------------------------------
bin                        A               B               C               D         E       F       G       H       I
observation              BIN_A           BIN_B           BIN_C           BIN_D     BIN_E   BIN_F   BIN_G   BIN_H   BIN_I  
----------------------------------------------------------------------------------------------------------------------------------
bin                    A       A       B       B       C       C       D       D   E   E   F   F   G   G   H   H   I   I
process               sig     bkg     sig     bkg     sig     bkg     sig     bkg sig bkg sig bkg sig bkg sig bkg sig bkg
process                0       1       0       1       0       1       0       1   0   1   0   1   0   1   0   1   0   1
rate                 SIG_A     1     SIG_B     1     SIG_C     1     SIG_D     1 SIG_E 1 SIG_F 1 SIG_G 1 SIG_H 1 SIG_I 1
----------------------------------------------------------------------------------------------------------------------------------
CMS_lumi      lnN    1.023     -     1.023     -     1.023     -     1.023     - 1.023 - 1.023 - 1.023 - 1.023 - 1.023 -
----------------------------------------------------------------------------------------------------------------------------------
bkgA rateParam A bkg INPUT_FILE:WORK_SPACE

bkgA rateParam B bkg INPUT_FILE:WORK_SPACE
c1   rateParam B bkg INPUT_FILE:WORK_SPACE

bkgA rateParam C bkg INPUT_FILE:WORK_SPACE
c1   rateParam C bkg INPUT_FILE:WORK_SPACE
c2   rateParam C bkg INPUT_FILE:WORK_SPACE

bkgA rateParam D bkg INPUT_FILE:WORK_SPACE
c2   rateParam D bkg INPUT_FILE:WORK_SPACE

bkgA rateParam E bkg INPUT_FILE:WORK_SPACE
c1   rateParam E bkg INPUT_FILE:WORK_SPACE
c3   rateParam E bkg INPUT_FILE:WORK_SPACE

bkgA rateParam F bkg INPUT_FILE:WORK_SPACE
c1   rateParam F bkg INPUT_FILE:WORK_SPACE
c2   rateParam F bkg INPUT_FILE:WORK_SPACE
c3   rateParam F bkg INPUT_FILE:WORK_SPACE

bkgA rateParam G bkg INPUT_FILE:WORK_SPACE
c1   rateParam G bkg INPUT_FILE:WORK_SPACE
c2   rateParam G bkg INPUT_FILE:WORK_SPACE
c3   rateParam G bkg INPUT_FILE:WORK_SPACE
c4   rateParam G bkg INPUT_FILE:WORK_SPACE

bkgA rateParam H bkg INPUT_FILE:WORK_SPACE
c1   rateParam H bkg INPUT_FILE:WORK_SPACE
c2   rateParam H bkg INPUT_FILE:WORK_SPACE
c4   rateParam H bkg INPUT_FILE:WORK_SPACE

bkgA rateParam I bkg INPUT_FILE:WORK_SPACE
c2   rateParam I bkg INPUT_FILE:WORK_SPACE
c4   rateParam I bkg INPUT_FILE:WORK_SPACE
